body {
	font-family: 'Open Sans', sans-serif;
}

form {
	max-width: 500px;
	margin: 0 auto;
}

button {
  color: #777;
	background: #fff;
  padding: 4px 12px 4px 12px;
  border: solid #777 2px;
	transition: all 0.3s ease-in-out;
  text-decoration: none;
}

button:hover {
	color: #000;
	border: solid #000 2px;
  text-decoration: none;
}

input, textarea {
	font-size: 0.8rem;
  border: 1px solid #ddd;
  background: #fff;
  padding: 0.5rem 0.7rem;
	margin: 5px 0;
  transition: all 0.3s ease-in-out;
  width: 100%;

}

input:focus, textarea:focus {
  border-color: #777;
  outline: none;
}

.contact-form {
	margin: 30px auto;
}

#Email-Me, #Email-Me-Header  {
	line-height: 2;
	color: #555;
	text-align: center;
}

#Email-Me {
	font-weight: 100;
}

.portfolio-content {
	line-height: 2;
	color: #555;
}

.portfolio-content a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #bbb;
}

.portfolio-content a:hover {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #555;
}

h1, h2, h3 {
	font-family: 'Crimson Text', sans-serif;
	letter-spacing: 1px;
	font-weight: 300;
	margin-bottom: 20px;
}

#root {
	padding: 40px;
}

.navbar-brand {
	font-weight: 800;
	font-size: 2.5rem;
	letter-spacing: 0.5px;
}

.navbar {
	text-transform: uppercase;
}

.nav-item {
	font-weight: 300;
	letter-spacing: 1.5px;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #dc3545;
}

.navbar-toggler {
	border: 0;
}

.navbar-toggler-right {
	right: 0rem;
}

.portfolio-img {
	width: 100%;
	max-height: 250px;
	display: block;
	object-fit: cover;
}

.project-img {
	width: 100%;
	display: block;
	object-fit: cover;
}

/* Image Hover Effect */

.hovereffect {
	width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 25px;
  position: relative;
  text-align: center;
}

.hovereffect .overlay {
	width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.description {
	display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
	color: #939393;
}

.hovereffect .overlay-text {
	font-size: 1.3rem;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 300;
	color: #000;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.hovereffect:hover .overlay-text {
	opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
	width: 100%;
	height: 100%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0;
  filter: alpha(opacity=0);
}
.page-nav {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.page-nav a,span {
	font-size: 1.3rem;
	font-weight: 400;
	margin: 0 10px;
	color: #000;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  line-height: 40px;
  color: #ecf0f1;
}

.mainText {
	font-size: 30px;
	color: rgba(0,0,0,.5)
}

@media screen and (max-width: 1030px) {
  .content {
    font-size: 20px;
	}

	.mainText {
		font-size: 25px;
		color: rgba(0,0,0,.5)
	}
}

@media screen and (max-width: 830px) {
  .content {
    font-size: 15px;
	}
	
	.mainText {
		font-size: 20px;
		color: rgba(0,0,0,.5)
	}
}

@media screen and (max-width: 630px) {
  .content {
    font-size: 10px;
	}
	
	.mainText {
		font-size: 15px;
		color: rgba(0,0,0,.5)
	}
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.content__container:before {
  content: '[';
  left: 0;
}
.content__container:after {
  content: ']';
  position: absolute;
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 60px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}